# What are [tuples](https://docs.python.org/3/library/stdtypes.html?highlight=tuple#tuples)?
## Definition
A `tuple` is a complex data type just like lists. While lists are mutable, tuples are not. A tuple is a complex data type
consisting of multiple elements. A tuple is represented by parentheses: `()`. The individual elements of the
tuple are separated by commas. Just like lists and simple data types, you can assign a tuple to a variable. Tuples can
also contain tuples or lists as elements.

In [1]:
address = (52066, "Aachen", "Eupener Str. 70", "0241-6009-12345")
print(address)
student = ("Peter", "Meier", 123456, "SAP basics", "pm12345s@university.edu", address)
print(student)
tup1 = (12312, "absbsb", [1, 2, 3, 4], ("a", "b", "c"), "end")
print(tup1)

(52066, 'Aachen', 'Eupener Str. 70', '0241-6009-12345')
('Peter', 'Meier', 123456, 'SAP basics', 'pm12345s@university.edu', (52066, 'Aachen', 'Eupener Str. 70', '0241-6009-12345'))
(12312, 'absbsb', [1, 2, 3, 4], ('a', 'b', 'c'), 'end')

## Tuples cannot be modified
The big difference between a tuple and a list is: lists can be modified, tuples cannot, they are immutable. That is, you cannot add an
element to an existing tuple, you cannot delete an element of a tuple or change the value of an element. This does not
mean that you cannot assign another tuple to a variable (see the following example), but there are **no** methods
for tuples like `tuple.append()` or `tuple.remove()` which would modify them.

In [2]:
tup = (1, 2, "a")
print(tup[2])
tup[2] = "b"

a

TypeError: 'tuple' object does not support item assignment

In [3]:
tup = (1, 2, 3)
print(tup)
tup = ("a", "b", "c", "d")
print(tup)

(1, 2, 3)
('a', 'b', 'c', 'd')

## What are tuples used for?

Tuples are quite similar to lists. In this unit we are not going into detail regarding data modelling. 
This will be the topic of unit 3. Nevertheless, the following rule of thumb can be used to determine when to use list and when to use tuples:

- List are used for many similar items
- Tuples are used for items with many attributes. 

Consider the following data as suitable example of tuples:

- `address = (zip code, city, street, house number)`
- `position = (x_coordinate, y_coordinate)`
- `date = (year, month, date)`

# Basic operations on tuples
## Interactively create a tuple
With the help of the function `input()` values can be read in successively and assembled to a tuple.

In [4]:
name = input("Please enter name: ")
first_name = input("Please enter first name: ")
phone = input("Please enter phone number: ")
age = input("Please enter age (integer): ")

employee = (name, first_name, phone, age)

print(employee)

Please enter name: Alozie
Please enter first name: Ogechukwu
Please enter phone number: 1234-567890
Please enter age (integer): 69
('Alozie', 'Ogechukwu', '1234-567890', '69')

## Using an index with tuples
Just like lists, tuples have an index. It is represented with **square** brackets just like lists. And as usual in
programming, the index starts at 0. The same negative indices can be used as for lists.  
**Important:** Even if the individual elements of a tuple are addressed with square brackets, it is still a tuple and
not a list.

In [5]:
address = (52066, "Aachen", "Eupener Str. 70", "0241-6009-12345")

student = (
    "Peter",
    "Parker",
    123456,
    "Python for Beginners",
    "pp12345s@university.edu",
    address,
)

print(address[0])
print(student[1])
print(student[5])
print(student[5][2])
print(student[-1])
print(address[-3])
print(address[2])

52066
Parker
(52066, 'Aachen', 'Eupener Str. 70', '0241-6009-12345')
Eupener Str. 70
(52066, 'Aachen', 'Eupener Str. 70', '0241-6009-12345')
Aachen
Eupener Str. 70

## Once again: Tuples are immutable
If you want to change a single element of a tuple via using the index, there will be an error message.

- [The value of lists are mutable.](https://docs.python.org/3/reference/datamodel.html#:~:text=The%20value%20of,lists%20are%20mutable.)

- [If an immutable container (like a tuple) contains a reference to a mutable object, its value changes if that mutable object is changed.](https://docs.python.org/3/reference/datamodel.html#:~:text=Some%20objects%20contain%20references%20to%20other,if%20that%20mutable%20object%20is%20changed.)

In [6]:
address = (52066, "Aachen", "Eupener Str. 70", "0241-6009-12345")
address[2] = "Goethestraße 1"

TypeError: 'tuple' object does not support item assignment

## Slicing operator and functions & methods
The slicing operator already known from lists also works with tuples to create a sub-tuple. 

Just as with lists, indices can be used to access not only a single element of
the tuple but also an entire range. There are functions and methods that also work for tuples. Some examples are shown in the table below.

| Function / Method | Return value                                                                             |
| ----------------- | ---------------------------------------------------------------------------------------- |
| `len(tuple)`      | Number of elements in a tuple                                                            |
| `tuple.count(x)`  | Number of elements in the tuple with value *x*                                           |
| `tuple.index(x)`  | Index of the first element with value *x*. If *x* does not exist, an error will be shown |

In [7]:
numbers = (1, 2, "trois", "four", "V", 6)
print(numbers[2:4])
print(len(numbers))
print(numbers.count(1))
print(numbers.index("V"))

('trois', 'four')
6
1
4

## Looping through tuples

Similar to lists a `for` loop can be used to access individual elements of a tuple.

In [8]:
address = (52066, "Aachen", "Eupener Str. 70", "0241-6009-12345")

for address_part in address:
    print(address_part)

52066
Aachen
Eupener Str. 70
0241-6009-12345

## Conversion of tuples
There are functions, like `int()`, to convert the data type of e.g. a string to an integer. A similar conversion works
between lists and tuples. `list()` converts the argument into a list, `tuple()` converts it into a tuple.

In [9]:
l = [1, 2, "a", 2.3]
t = tuple(l)
print(t)
l = list(t)
print(l)

(1, 2, 'a', 2.3)
[1, 2, 'a', 2.3]

In [11]:
a = ('a', 'b', [1, 2, 3])
print(a)
a[2].append(4)
print(a)

('a', 'b', [1, 2, 3])
('a', 'b', [1, 2, 3, 4])